.c-add-nav-panel {
  &__tab {
    background-color: #ceebfc;
    border: none;
    border-radius: 10px 10px 0 0;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
    &:visited {
      color: #000;
    }
    &_active {
      background-color: #9cd3fc;
    }
  }
  &__text-button {
    padding: 6px 4px;
    background-color: #3daaf3;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: lighten($color: #3daaf3, $amount: 10%);
    }
    &_cancel {
      background-color: #ccc;
      margin-left: 12px;
      &:hover {
        background-color: lighten($color: #ccc, $amount: 10%);
      }
    }
  }
}
