.c-add-nav-panel {
  &__tab {
    background-color: #ceebfc;
    border: none;
    border-radius: 10px 10px 0 0;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
    &:visited {
      color: #000;
    }
    &_active {
      background-color: #9cd3fc;
    }
  }
}
