.c-empty-container {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__img {
    width: 40px;
    height: 40px;
  }
  &__text {
    margin-top: 6px;
    font-size: 14px;
    color: #c6c4c4;
  }
}
