.c-form__buttons-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.c-form__button {
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  &:not(:first-child) {
    margin-left: 40px;
  }

  &_apply {
    background-color: #44d9e6;
    &:hover {
      background-color: darken($color: #44d9e6, $amount: 10%);
    }
    &:disabled {
      background-color: #44d9e6;
      cursor: default;
    }
  }
  &_cancel {
    background-color: #c4c4c4;
    &:hover {
      background-color: darken($color: #c4c4c4, $amount: 10%);
    }
    &:disabled {
      background-color: #c4c4c4;
      cursor: default;
    }
  }
}
