.profile {
  &__wrapper {
    width: 100%;
  }
  &__data {
    &Wrapper {
      display: grid;
      grid-template: max-content / 240px 300px;
      grid-auto-rows: max-content;
      grid-row-gap: 16px;
      align-items: center;
      margin: 20px 0 0 10px;
      @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
        margin: 0;
        padding: 5px;
        grid-row-gap: 6px;
      }
    }
    &Heading {
      line-height: 30px;
    }
  }
}

.exitButton {
  margin-left: auto;
}

.saveButton {
  margin-left: 12px;
}
