.profile {
  &__wrapper {
    width: 100%;
  }
  &__exitButton {
    margin-left: auto;
  }
  &__data {
    &Wrapper {
      display: grid;
      grid-template: 30px / 240px 300px;
      grid-auto-rows: 30px;
      grid-row-gap: 16px;
      margin: 20px 0 0 10px;
    }
    &Heading {
      line-height: 30px;
    }
    &Value {
      background-color: #91bde5;
      border-radius: 5px;
      border: 1px solid #729496;
      outline: none;
    }
  }
}
