.form {
  display: grid;
  grid-template: max-content / 300px;
  grid-auto-rows: max-content;
  grid-row-gap: 10px;
  margin-top: 20px;
  @media screen and (max-width: 700px) {
    grid-template: 1fr / 1fr;
    overflow-y: auto;
    margin: 0;
  }
}
