.l-auth-reg {
  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url('./../../images/background.jpg') no-repeat;
    background-size: cover;
    @media screen and (max-width: 700px) {
      background-image: none;
    }
  }
  &__form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    margin-left: auto;
    margin-right: 40px;
    background: #fff;
    border-radius: 10px;
    height: max-content;
    max-height: 90%;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.15);
    @media screen and (max-width: 700px) {
      max-height: 100%;
      height: 100%;
      justify-content: center;
      width: 100%;
      border-radius: 0;
      margin: 0;
      padding: 0 20px;
      box-shadow: none;
    }
  }
  &__logo {
    width: 240px;
    height: 50px;
    margin: 0 auto;
  }
  &__heading {
    font-size: 28px;
    line-height: 34px;
    font-weight: 400;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
      @media screen and (max-width: 700px) {
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: 700px) {
      text-align: center;
    }
  }
  &__input {
    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
  &__button {
    background-color: #44d9e6;
    border: none;
    margin: 20px auto 0;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 22px;
    width: max-content;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #50bbc5;
    }
    &:disabled {
      background-color: #adeff5;
      cursor: default;
    }
    @media screen and (max-width: 700px) {
      width: 100%;
      font-size: 16px;
    }
  }
  &__redirect {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    &-text {
      color: #ccc;
    }
    &-link {
      color: #0437ba;
      &:hover {
        color: #4174f5;
      }
    }
  }
}
